@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~bourbon-neat/app/assets/stylesheets/neat";

$mobile: new-breakpoint(max-width 500px 4);

.container {
  background-color: #f1ede4;

  .leftContainer {
		@include span-columns(9);
		@include media($mobile) {
		  @include span-columns(4);
		}

		.helpDiv {
			$base-spacing: 0.8em !default;
		  $medium-screen: 40em !default;
		  $large-screen: 53.75em !default;
		  $footer-color: black;

		  padding: $base-spacing * 1.0;
		  width: 100%;
		  margin-top: 0.1em;

		  p {
		  	@include span-columns(8);
		  	@include media($mobile) {
				  @include span-columns(4);
				}
		  	color: $footer-color;
		  	font-family: $helvetica;
  			font-size: golden-ratio(11px,  1);
		  }
		}
	}

	.rightContainer {
		@include span-columns(3);
		@include media($mobile) {
		  @include span-columns(4);
		}
		font-family: $helvetica;
	  font-size: golden-ratio(14px,  1);
	}
}

.messageboard {
	height: 500px;
	width: 99%;
	font-size: 19px;
	margin-left: 5px;
	overflow-y: scroll;
	font-family: $helvetica;
  font-size: golden-ratio(12px,  1);
}

.messageformContainer {
	@include outer-container;
	height: 180px;
	width: 100%;
	margin-top: 10px;
	padding: 10px 0 10px 10px;

	.messageform {
		height: 120px;
		width: 97%;
		font-family: $helvetica;
	  font-size: golden-ratio(11px,  1);
	}

	form {
		button {
			@include span-columns(3);
			font-family: $helvetica;
		  font-size: golden-ratio(10px,  1);
		}
		
	}
}

.message {
	font-family: $helvetica;
  font-size: golden-ratio(14px,  1);
}

.userList {
	width: 99%;
	overflow-y: scroll;
	font-family: $helvetica;
  font-size: golden-ratio(14px,  1);
}
