.container {
  background-color: #f1ede4;
  border: 1px solid blue;
  position: absolute;
  width: 93%;
}

.bap {
  background-color: red;
  height: 25px;
}

.messageboard {
	height: 480px;
	width: 99%;
	font-size: 19px;
	margin-left: 5px;
	overflow-y: scroll;
	font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20.2px;
}

.messageformContainer {
	height: 180px;
	width: 100%;
	margin-top: 10px;
	padding: 10px 0 10px 10px;
}

.message {
	font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 15.4px;
}

.messageform {
	height: 110px;
	width: 97%;
	font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.leftContainer {
	float: left;
	width: 80%;
	height: 100%;
	border: 1px solid;
}

.rightContainer {
	float: right;
	width: 19%;
	font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 15.4px;
}

.userList {
	width: 99%;
	font: 19px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 15.4px;
}